/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, h2, h3 {
  font-family: 'Markazi Text', serif;
}

h4, h5, p, li, label, input, select {
  font-family: 'Karla', sans-serif;
}

h1 {
  font-size: 86px;
}

h2 {
  font-size: 54px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-weight: bold;
}

li {
  font-weight: 500;
}